/* ---- import required Google fonts ---- */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Delius&family=Roboto:wght@400;500;700&display=swap'); 

/* ---- new code for traceygardengal website ---- */

body {
  width: 100%;
  margin: 0;
  padding: 5px;
}

.home-image {
  height: 100dvh;
  width: 100%;
  padding: 5px;
  background: url('/assets/img/garden_image.webp') no-repeat center center;
  background-size: cover;
}

.brand-font {
  font-family: "Caveat", sans-serif;
  font-weight: 700;
  font-size: 2em !important;
}

.navbar-color {
  background-color: rgba(255, 255, 255, 0.40);
  font-weight: 700;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#about-me-style {
  width: 100%;
  padding: 5px;
  min-height: 25dvh;
  font-size: 1rem;
  background-color: rgba(72, 139, 96, 0.15);
}

.back-to-top { 
  width: 100%;
  height: 10dvh;
}

#tracey-quote {
  font-family: "Caveat", sans-serif;
  font-weight: 400;
  font-size: calc(1em + 2vw);
}

.map-responsive {
  position:relative;
  height:0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height:65dvh;
  width:100%;
  position:absolute;
}

.footer-style {
  background-color: rgba(88, 90, 89, 0.15);
  height: 2rem;
  padding: 5px;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.background-flowers {
  background: url('/assets/img/flowers.png') no-repeat right bottom;
  background-size: 256px 256px;
  height: 35dvh;
  width: 100%;
}

.background-flower-pot {
  background: url('/assets/img/lavender.png') no-repeat right bottom;
  background-size: 384px 384px;
}

.background-sakura {
  background: url('/assets/img/sakura.png') no-repeat right bottom;
  background-size: 256px 256px;
}

#image-settings-tracey {
  height: 65dvh;
  width: 100%;
  object-fit: cover;
}


/* ---- PREVIOUS CSS. DELETE WHAT ISNT NEEDED  ---- */


/* ---- garden build photos ---- */

.photo-container {
  overflow: hidden
}

.photo-border {
  height: 475px;
  width: 550px;
  padding: 15px;
  background-color: rgb(245, 245, 248);
  box-shadow: 5px 10px 10px darkgrey;
}

.rotate-left-15 {
  transform: rotate(-15deg);
}

.rotate-left-23 {
  transform: rotate(-23deg);
}

.rotate-right-18 {
  transform: rotate(18deg);
}

.rotate-right-32 {
  transform: rotate(32deg);
}

/* ---- contact me page text styling details ---- */

details {
  padding: 15px;
  font-family: "Delius", sans-serif;
  font-size: 1.2em;
}

details summary {
  font-weight: 700;
}



.fa-icon-col {
  color: rgb(0, 0, 0);
  transition-duration: 1.0s;
}

.email-text-style {
  color: rgb(0, 0, 0);
  font-family: "Delius", sans-serif;
  font-size: 4em;
  font-weight: 600;
}

#email-textbox-details {
  height: 65dvh;
  align-items: center;
  justify-content: center;
}

