/* ---- import required Google fonts ---- */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Delius&family=Roboto:wght@400;500;700&display=swap'); 

/* ---- basic header/footer and title design  ---- */

.header-design {
    background-image: linear-gradient(to bottom right, rgb(175, 08, 235) 25%, rgb(246, 187, 30));
    height: 25dvh;
    width: 100%;
  }

  .title-details {
    color: rgb(246, 187, 30);
    font-family: "Caveat", sans-serif;
    font-weight: 600;
    font-size: 3.0em;
  }
    
.footer-design {
  background-image: linear-gradient(to bottom right, rgb(246, 187, 30) 15%, rgb(175, 08, 235));
  height: 10dvh;
  width: 100%;
}

a {
  color: rgb(25, 97, 227);
  transition-duration: 1.0s;
}

a :hover {
  color: rgb(175, 08, 235);
  transition-duration: 1.0s;
}

#footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(24, 119, 242);
  padding: 30px;
}

/* ---- navbar details adds custom detailing to bootstrap button code ---- */

li {
  float: left;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-btn-style {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  background-color: rgb(24, 119, 242);
  color: rgb(246, 187, 30);
  transition-duration: 1.0s;
  text-align: center;
  border-radius: 12%;
  padding: 4px;
  margin: 4px;
}

li :hover {
  background-color: rgb(246, 187, 30);
  color: rgb(175, 08, 235);
  transition-duration: 1.0s;
}

.active {
  background-color: rgb(246, 187, 30);
  color: rgb(175, 08, 235);
}

/* ---- styling details for home page text ---- */

#about-tracey-text {
  font-family: "Delius", sans-serif;
  height: 65dvh;
  width: 50%;
}

/* ---- sets the default background to pale green on all webpages ---- */

.all-green-background {
  background-color: rgba(05, 246, 115, 0.15);
  min-height: 100dvh;
}

/* ---- homepage-image & zoom animation ---- */

.image-outer {
  height: 65dvh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-garden {
  height: 100%;
  width: 100%;
  background: url('../img/garden_image.webp') no-repeat center center;
  background-size: cover;
  animation-name: image-zoom;
  animation-duration: 3.25s;
  animation-fill-mode: forwards;
}

@keyframes image-zoom {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.15);
  }
}

#image-text-glass {
  position: absolute;
  top: 1em;
  left: 1em; 
  height: 75px;
  width: 75px;
  color: rgb(0, 0, 0);
  font-family: "Delius", sans-serif;
  font-weight: 700;
  display:flex;
  justify-content: center;
  align-items: center;
  

/* ---- from https://css.glass creates a 'glass' effect ---- */

background: rgba(131, 186, 248, 0.09);
border-radius: 50%;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(17px);
border: 1px solid rgba(147, 216, 228, 0.69);
}

/* ---- styling details for gallery page ---- */

img {
  width: 100%;
}

.grey {
  filter: grayscale(100%);
  transition-duration: 1.0s;
}

.grey:hover {
  filter: none;
  transition-duration: 1.0s;
}

.scientific-name {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  font-style: italic;
}

/* ---- contact me page text styling details ---- */

details {
  padding: 15px;
  font-family: "Delius", sans-serif;
  font-size: 1.2em;
}

details summary {
  font-weight: 700;
}

#image-settings-tracey {
  height: 65dvh;
  width: 100%;
  object-fit: cover;
}

.email-text-style {
  font-family: "Delius", sans-serif;
  font-size: 4em;
  font-weight: 600;
  color: rgb(24, 119, 242);
}

#email-textbox-details {
  height: 60dvh;
  align-items: center;
  justify-content: center;
}

.map-responsive {
  position:relative;
  height:0;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:65dvh;
  width:100%;
  position:absolute;
}

/* ---- adjustments to header/footer, navbar & map @various breakpoints ----*/

@media screen and (min-width: 1500px) {
  #about-tracey-text {
    font-size: 1.25em;
  }

  .title-details {
    font-size: 5.0em;
  }

  .nav-btn-style {
    font-size: 2em;
  }
}

@media screen and (max-width: 1499px) {
  #about-tracey-text {
    font-size: 1.25em;
  }

  .title-details {
    font-size: 5.0em;
  }

  .nav-btn-style {
    font-size: 2em;
  }
}
      
@media screen and (max-width: 1200px) {
  .nav-btn-style {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 992px) {
  .title-details {
    font-size: 5.0em;
  }

  .nav-bar-style {
    font-size: 2em;
  }

  #about-tracey-text {
    font-size: 1.25em;
    min-height: 35dvh;
  }
}

@media screen and (max-width: 768px) {
  .header-design {
  background-image: linear-gradient(to bottom right, rgb(175, 08, 235) 15%, rgb(246, 187, 30));
  }

  .title-details {
    font-size: 4.0em;
  }

  #about-tracey-text {
    font-size: 1.15em;
    max-height: 40dvh;
  }

  .nav-btn-style {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 576px) {
  .header-design {
    background-image: linear-gradient(to bottom right, rgb(175, 08, 235) 5%, rgb(246, 187, 30));
    height: 25dvh;
    width: 100%;
  }

  .title-details {
    font-size: 3.0em;
  }

  .footer-design {
    background-image: linear-gradient(to bottom right, rgb(246, 187, 30) 15%, rgb(175, 08, 235));
    height: 15dvh;
    width: 100%;
  }

  #about-tracey-text {
    font-size: 0.9em;
    min-height: 65dvh;
  }

  .nav-btn-style {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 300px) {
  .header-design {
    background-image: linear-gradient(to bottom right, rgb(175, 08, 235) 5%, rgb(246, 187, 30));
    height: 20dvh;
    width: 100%;
  }

  .title-details {
    font-size: 2em;
  }

  .footer-design {
    background-image: linear-gradient(to bottom right, rgb(246, 187, 30) 15%, rgb(175, 08, 235));
    height: 25dvh;
    width: 100%;
  }

  #about-tracey-text {
    font-size: 1em;
    max-height: 45dvh;
  }

  .nav-btn-style {
    font-size: 0.75em;
  }

  #hide-para-sm {
    display: none;
  }
}

/* ---- media query to enable correct display when mobile device is in landscape mode or display has a lower y resolution ---- */

@media screen and (max-height: 768px) {
  .header-design {
    background-image: linear-gradient(to bottom right, rgb(175, 08, 235) 5%, rgb(246, 187, 30));
    height: 35dvh;
    width: 100%;
  }
  
  .footer-design {
    background-image: linear-gradient(to bottom right, rgb(246, 187, 30) 15%, rgb(175, 08, 235));
    height: 30dvh;
    width: 100%;
  }

  #about-tracey-text {
    font-size: 0.9em;
  }

  .title-details {
    font-size: 3em;
  }

  .nav-btn-style {
    font-size: 1.25em;
  }
}

@media screen and (max-height: 599px) {
  #image-settings-tracey {
    display: none;
  }

  #hide-email-icon {
    display: none;
  }

  #about-tracey-text {
    min-height: 65dvh;
  }
}

@media screen and (max-height: 450px) {
  .title-details {
    font-size: 2em;
  }

  .nav-btn-style {
    font-size: 1.0em;
  }

  #hide-para-sm {
    display: none;
  }

  #about-tracey-text {
    min-height: 65dvh;
  }
}

